.top-div-gradient, .bottom-div-gradient {
    height: 20px;
    margin: 0 auto; /* Выравнивание по центру */
    background: #f0e8cb; /* Цвет фона левой колонки */
}
/*top part*/
#top-body-container, #bottom-body-container {
    background: #f0e8cb;
}
#top-menu-div, #footer-container, #body-container {
    margin: 0 auto;
    width: 80%;
}
/* middle part*/
#main-body-container {
    margin: 0 auto;
    background: #f0e8cb;
}
#body-container {
    height: 800px;
    display: flex;
    flex-direction: row;
    background: #e2d5aa;
}
#content-div {
    width: 80%;
    margin: 5px;
    height: 98%;
    flex-grow: 2;
    flex-shrink: 3;
}
#right-menu-div {
    height: 98%;
    flex-basis: 350px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #e9e2c3;
    flex-shrink: 1;
}
/*bottom part*/
#footer-div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
#footer-span {
    font-size: 12pt;
    color: whitesmoke;
}
#user-menu-group {
    margin-right: 10px;
}
#lang-menu {
    display: initial;
    margin-left: initial;
}
/*login page*/
#login-main-container, #reg-main-container {
    height: 980px;
    width: 100%;
    background: #f0e8cb;
    overflow: auto;
}
#login-controls-group {
    margin: 100px auto;
    width: 25%;
    height: 400px;
    background: #e2d5aa;
    border-style: ridge;
    border-width: 2px;
    border-color: #e9e2c3;
    min-width: 350px;
}
#login-input-items, #reg-input-items {
    margin: 70px auto 0 auto;
    width: 85%;
}
#login-submit, #reg-submit{
    margin: 10px auto 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
}
#login-label, #reg-label {
    text-align: center;
}
#login-error-div, #reg-error-div {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#login-error-span, #reg-error-span {
    text-align: center;
    font-size: 10pt;
}
/*registration*/
#reg-controls-group {
    margin: 100px auto;
    width: 25%;
    height: 600px;
    background: #e2d5aa;
    border-style: ridge;
    border-width: 2px;
    border-color: #e9e2c3;
    min-width: 350px;
}
/*profile page*/
#profile-main-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #f0e8cb;
    border-style: ridge;
    border-width: 2px;
    border-color: #e9e2c3;
}
#profile-blocks {
    display: flex;
    flex-direction: row;
    background: #e2d5aa;
    height: 100%;
}
#profile-menu {
    width: 200px;
    background: #343a40;
    min-width: 160px;
}
#nav-btns {
    margin: 30px auto;
    padding: 10%;
    background: #343a40;
}
#profile-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#profile-review-block, #profile-order-block {
    display: none;
}
#profile-user-label {
    display: flex;
    justify-content: center;
    font-size: 12pt;
    color: ghostwhite;
    margin: 30px auto 30px auto;
}
.profile-inputs {
    border-style: ridge;
    border-width: 2px;
    border-color: #e9e2c3;
    height: 100%;
}